<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Sent</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <style>
        body{
            font-family: 'Roboto', sans-serif;
        }
        .para{
            font-size: 18px;
        }
        .para1{
            text-align: center;
            padding: 9rem 5rem 3rem;
        }
        .para2{
            text-align: center;
            padding: 3rem 5rem 10rem;
        }
    </style>

</head>

<body>
{% include "base.html" %}
<div class="container para">
    <div class="para1">
        <p>
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
        </p>
    </div>
    <div class="para2">
        <p>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
        </p><br>
        <p>Thank you for choosing Booksfolio.</p>
    </div>
</div>
{% include "footer.html" %}
</body>

</html>