{% include "base.html" %}

<style>
    body {
        font-family: 'Roboto', sans-serif;
    }

    h2 {
        text-align: center;
        padding: 10rem 3rem 3rem;
    }

    .inp-box label {
        text-align: center;
        width: 100px;
        margin-left: 15%;
        font-size: 20px;
        font-weight: 500;
    }

    input[type=password] {
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid rgb(22, 22, 22);
        border-radius: 4px;
    }

    .form-box {
        background-color: rgb(250, 250, 250);
        width: 50%;
        margin-left: 25%;
    }

    .buton {
        background-color: #ffffff;
        border: 2px solid rgb(87, 87, 87);
        border-radius: 4px;
        padding: 12px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
        transition-duration: 0.4s;
        cursor: pointer;
        margin: 2rem 0 10rem 43%;
    }

    .buton:hover {
        background-color: #b8b8b8;
        color: rgb(0, 0, 0);
    }
</style>


{% if validlink %}
<h3 style="margin: 5% 0 0 35%;">Change password</h3>
<form method="post" style="margin: 5% 0 0 35%;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change password</button>
</form>
{% else %}
<p style="margin: 5% 0 0 20%;">
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
</p>
{% endif %}

{% include "footer.html" %}