{% include "base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>buyer page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'cart-new/cart-style.css'%}">

    <!-- <link rel="stylesheet" type="text/css" href="{% static 'book_style/styles/bootstrap4/bootstrap.min.css'%}">
    <link href="{% static 'book_style/plugins/font-awesome-4.7.0/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'book_style/styles/destinations.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'book_style/styles/destinations_responsive.css'%}"> -->

    <link rel="stylesheet" href="{% static 'buyer_seller/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'buyer_seller/css/buyer.css'%}">
    <link rel="stylesheet" href="{% static 'buyer_seller/css/card-style.css'%}">
</head>

<body>
    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-12 pl-md-5 py-md-5">
                    <div class="row justify-content-start pt-3 pb-3">
                        <div class="col-md-12 heading-section ftco-animate">
                            <span class="subheading">Welcome to Booksfolio</span>
                            <h2>trying to bring market in the campus</h2>
                            <div class="tabulation-2 mt-4">
                                <ul class="nav nav-pills nav-fill d-md-flex d-block">
                                    <li class="nav-item mb-md-0 mb-2">
                                        <a class="nav-link active py-2" data-toggle="tab" href="#academic-form">Academic
                                            Books</a>
                                    </li>
                                    <li class="nav-item px-lg-2 mb-md-0 mb-2">
                                        <a class="nav-link py-2" data-toggle="tab"
                                            href="#non-academic-form">Non-Academic Books</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link py-2 mb-md-0 mb-2" data-toggle="tab" href="#gadgets">Gadgets and Rest</a>
                                    </li>
                                </ul>
                                <div class="tab-content bg-light rounded mt-2">

                                    <!-- Section Seller Form Starts -->
                                    <div id="academic-form" class="tab-pane container p-0 active">
                                        <section id="seller-form">
                                            <h2>Buyer Form</h2>
                                            <h4>Search your books to buy here</h4><br>

                                            <form class="searchthis" action="/buyer/search_buyer/1" style="display:inline;" method="POST">
                                                {% csrf_token %}
                                                <input class="search-box" size="40" type="text" placeholder="  Search here " name="search" />
                                                <input class="search-btn" value="Search" type="submit" />
                                            </form><br><br>
                                            <form action="/buyer/buyer/1" method="POST">
                                                {% csrf_token %}
                                                <fieldset>
                                                    <label for="domain">Select Domain:</label>
                                                    <select id="domainSel" size="1" name="domain">
                                                        <option value="" selected="selected">Select Domain</option>
                                                    </select><br>

                                                    <label for="branch">Select Branch:</label>
                                                    <select id="branchSel" size="1" name="branch">
                                                        <option value="" selected="selected">Select Branch</option>
                                                    </select><br>

                                                    <label for="year-sem">Year - SEM:</label>
                                                    <select id="yearSemSel" size="1" name="yr_sem">
                                                        <option value="" selected="selected">Select Year and Sem
                                                        </option>
                                                    </select><br>

                                                    <label for="books-list">Select Books:</label>
                                                    <select id="booksSel" size="1" name="book_name">
                                                        <option value="" selected="selected">Please select Books
                                                        </option>
                                                    </select><br><br>

                                                    <button type="submit" value="Submit">Find Books</button>
                                                    <button type="reset" value="Reset">Reset this form</button>
                                                </fieldset>
                                            </form>
                                        </section>
                                    </div>


                                    <div class="tab-pane container p-0 fade" id="non-academic-form">
                                        <!-- Section non-academic Form Starts -->
                                        <section id="seller-form">
                                            <h2>Buyer Form</h2>
                                            <h4>Search books for buy here</h4><br>
                                            <form class="searchthis" action="/buyer/buyer_nonacademic/1" style="display:inline;" method="POST">
                                                {% csrf_token %}
                                                <input class="search-box"  size="40" type="text" placeholder="  Search here " name="search" />
                                                <input class="search-btn" type="submit"/><br><br>
                                            </form>
                                        </section>
                                    </div>

                                    <div class="tab-pane container p-0 fade" id="gadgets">
                                        <!-- Section non-academic Form Starts -->
                                        <section id="seller-form">
                                            <h2>Buyer Form</h2>
                                            <h4>Search products for buy here</h4><br>
                                            <form class="searchthis" action="/buyer/buyer_gadgets/1" style="display:inline;" method="POST">
                                                {% csrf_token %}
                                                <input class="search-box" size="40" type="text" placeholder="  Search here " name="search"/>
                                                <input class="search-btn" value="Search" type="submit"/><br><br>
                                            </form>

                                        </section>
                                    </div>


                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if buy_books%}
<!-- product card script starts here -->
    <div class="container-fluid">
        <div class="container">
            <h1>Available Results</h1>
        </div>
        <div class="row">
            {% for book in buy_books%}
            <div class="product-card col-sm-3">
                <!-- <div class="badge">New</div> -->
                <div class="product-tumb">
                    <img src="{{book.book_img.url}}" alt="">
                </div>
                <div class="product-details">
                    <span class="product-catagory">{{book.product_type}}</span>
                    <h4><a href="/buyer/solo_product/{{book.id}}">{{book.book_name}}</a></h4>
                    
                    {% if book.author_name %}
                        <p>Author : {{book.author_name}}</p>
                    {% elif book.manufacturer %}
                        <p>Manufacturer : {{book.manufacturer}}</p>
                    {% endif %}

                    {% if book.publish_yr %}
                    <p>Publish Year : {{book.publish_yr}}</p>
                    {% elif book.manufacturer_yr %}
                    <p>Manifacturing Year : {{book.manufacturer_yr}}</p>
                    {% endif %}
                    <div class="product-bottom-details">
                        <div class="product-price"><small>{{book.shown_price}}</small>{{book.original_price}}</div>
                        <div class="product-links">
                            <a href="/cart/add_cart/{{book.id}}"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            
        </div>
    </div>
        <div style="margin-right: 45%;">
            <a class="checkout" href="/buyer/buyer/{{pg|add:'1'}}" >Load more</a>
            <!-- <a href="/buyer/buyer/{{pg|add:'1'}}">load more</a></div> -->
        </div>
            
            {% endif %}

    
        {% include "footer.html" %}

    <!-- <script src="{% static 'buyer_seller/js/jquery.min.js'%}"></script>
    <script src="{% static 'buyer_seller/js/jquery-migrate-3.0.1.min.js'%}"></script>
    <script src="{% static 'buyer_seller/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'buyer_seller/js/jquery.waypoints.min.js'%}"></script>
    <script src="{% static 'buyer_seller/js/jquery.stellar.min.js'%}"></script>
    <script src="{% static 'buyer_seller/js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'buyer_seller/js/aos.js'%}"></script>
    <script src="{% static 'buyer_seller/js/scrollax.min.js'%}"></script>
    <script src="{% static 'buyer_seller/js/main.js'%}"></script> -->
    <script src="{% static 'buyer_seller/js/buyermain.js'%}"></script>

</body>

</html>