
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<style>
  .social-text p{
    margin-bottom: 0;
    font-size: 1rem;
  }
  .social i{
    padding: 0 10px;
    font-size: 1.2rem;
  }
  .page-footer a {
    color: aliceblue;
  }
  .page-footer p {
    color: rgb(245, 245, 245);
  }
  li {
    color: rgb(245, 245, 245);
  }
  h6 {
    color: azure;
  }
/*  .page-footer {
    margin-top: 3rem;
  }*/
</style>
</head>

<footer class="page-footer bg-dark" style="margin-top: 2cm;">

  <div class="bg-success">
    <div class="container">
      <div class="row py-3 d-flex align-items-center">
        <div class="col-md-6 text-center social-text">
          <p>Stay Connected on our social media platforms.</p>
        </div>
        <div class="col-md-6 text-center social">
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center text-md-left mt-4">
    <div class="row">
      <div class="col-md-5 mx-auto mb-4 text-center">
        <h6 class="text-uppercase font-weight-bold">Booksfolio</h6>
        <hr class="bg-success mb-3 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
        <p class="mt-2">Booksfolio is the project developed by students for students. We are trying to connect market with you.</p>
      </div>

      <div class="col-md-2 mx-auto mb-4 text-center">
        <h6 class="text-uppercase font-weight-bold">Quick Links</h6>
        <hr class="bg-success mb-3 mt-0 d-inline-block mx-auto" style="width: 85px; height: 2px">
        <ul class="list-unstyled">
          <li class="my-2"><a href="/">Home</a></li>
          <li class="my-2"><a href="/about">About</a></li>
          <li class="my-2"> <a href="/contact">Contact</a></li>
        </ul>
      </div>

      <div class="col-md-5 mx-auto mb-4 text-center">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="bg-success mb-3 mt-0 d-inline-block mx-auto" style="width: 75px; height: 2px">
          <ul class="list-unstyled">
            <li class="my-2"><i class="fa fa-map-marker" aria-hidden="true"></i> 2, Rajghad, STES Lonavala.</li>
            <li class="my-2"><i class="fa fa-envelope-o" aria-hidden="true"></i> care@booksfolio.com</li>
            <li class="my-2"><i class="fa fa-phone" aria-hidden="true"></i> + 01 234 567 88</li>
          </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-2 social-text">
    <p>&copy; Copyright
    <a href="#">booksfolio.com</a></p>
  </div>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
=<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/js/mdb.min.js"></script>
